@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-primary: "Work Sans", ui-sans-serif, system-ui;
  --font-secondary: "Aboreto", ui-sans-serif, system-ui;
  --font-ternary: "Google Sans Code";
}